{% include 'header.html' %}
<div class="container">
<div class="row">
    <div class="col-md-12 mt-5">
        <h2>About Us</h2>
        <hr>
        <p>
            Welcome to the thrilling world of online auctions, where our platform serves as the ultimate hub connecting passionate buyers with enthusiastic sellers in a seamless and electrifying bidding experience. At our core, we strive to redefine the online auction landscape, fostering a dynamic marketplace that transcends geographical boundaries.        </p>
    </div>


<div class="col-md-6 mt-5">
    <h2>Vision</h2>
    <hr>
    <p>
        Empower individuals and businesses globally to engage in a transparent, efficient, and exhilarating online auction experience. We envision a platform where every bid is an opportunity, every item is a treasure, and every participant feels the pulse of the auction excitement.
    </p>
</div>

<div class="col-md-6 mt-5">
    <h2>Mision</h2>
    <hr>
    <p>
        Bridge the gap between buyers seeking unique treasures and sellers eager to showcase their offerings. Our mission is to create a vibrant marketplace where connections are forged, and transactions are executed seamlessly.
    </p>
</div>


<div class="col-md-4 mt-5 shadow pt-5">
<h3 class="text-danger text-center">6000+</h3>
<h6 class="text-center">Happy Customers....</h6>
</div>

<div class="col-md-4 mt-5 shadow pt-5">
<h3 class="text-danger text-center">9000+</h3>
<h6 class="text-center">Total Product Bidded....</h6>
</div>

<div class="col-md-4 mt-5 shadow pt-5">
<h3 class="text-danger text-center">600+</h3>
<h6 class="text-center">Products....</h6>
</div>
</div>
</div>
<br>
<br>

{% include 'footer.html' %}